{% extends 'base.html' %}
{% block content %}
<br>
<div class="list-group list-group-flush">
    
    <a href="https://github.com/aditya4689/jango-crm" target="_blank" class="list-group-item list-group-item-action">CRM Application</a>
    <a href="https://adityajha-drumsticks.netlify.app/" target="_blank" class="list-group-item list-group-item-action">Drumstick App</a>
    <a href="https://calculator-adityajha.netlify.app/" target="_blank" class="list-group-item list-group-item-action">Calculator</a>
    <a href="https://aditya4689.github.io/OSIBP-TODO/" target="_blank" class="list-group-item list-group-item-action disabled">TO-DO App</a>
  </div>

{% endblock %}